.transliteration-textarea {
    min-height: 250px;
}
.message-input {
    resize: none;
}
#message-container{
    max-height: 75%;
}

.messageElement {
    background-color: aqua;
    overflow-wrap: break-word;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    max-width: 50%;
}